/*Give the <body> element a background of #bdc3c7*/
body{
	background: #bdc3c7
}
h1{
	color: #9b59b6
}
h2{
	color: orange;
}
li{
	color: #0040FF;
}
p{
	background: yellow;
}
input{
	border: 3px solid red;
}
/*Give everything with the class 'hello' a white background*/
.hello{
	background: white;
}
/*Give the element with id 'special' a 2px solid blue border*/
#special{
	border:2px solid  rgb(0,45,500);
}
/*Make all the <p>'s that are nested inside of divs 25px font size*/
div p{
	font-size: 25px;
}
/*Make only inputs with type 'text' have a gray background*/
input[type="text"]
{
background: gray;
}
/*give both <p>'s inside the 3rd <div> a pink background*/
div:nth-of-type(3) p {
	background: pink;
}
/*give the 2nd <P> inside the 3rd <div> element white border*/
div:nth-of-type(3) p:nth-of-type(2){
	border: 5px solid white;
}
/*make the <em> in the 3rd <div> element white and font size 20 */
div:nth-of-type(3) em{
	color: whitel
	font-size:20px;
}
/*Make all "checked" checkboxes have a left margin of 50 px*/
input:checked {
	margin-left: 50px;
}
/*make the <label> elements alll UPPERCASE */
label{
	text-transform: uppercase;
}
/*Make the first letter of the elemnt with id 'special' green*/
#special:first-letter {
	color: green;
	font-size: 100px;
}
/*Make the <h1> elements color change to blue when hovered*/
h1:hover{
	color:blue;
}
/*Make the <a> element's that have been visited turn gray*/
a:visited {
	color: gray;
}